{% extends '__base.html' %}
{% block page_content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">{{ scholarship.name }} </h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                    <li class="breadcrumb-item"><a href="about.html">Новости</a></li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Testimonial</li> -->
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 col-lg-11">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <img src="../../../static/img/service-3.jpg" alt="">
                </div>
                <h3 class="wow fadeInUp" data-wow-delay="0.1s">
                    Совместные магистерские программы Фонда Ханнса Зайделя и Академии государственного управления при Президенте Республики Казахстан
                </h3>
                <p class="wow fadeInUp" data-wow-delay="0.1s">
                    Фонд Ханнса Зайделя (Фонд) специализируется на предоставлении стипендиальных региональных и многонациональных программ по Магистратуре по направлениям «Региональное развитие», «Государственное управление» и «Государственная Политика».
                    <br>
                    <br>
                    Программа предназначена для государственных служащих местных исполнительных органов, центральных государственных органов и их территориальных подразделений, занимающихся вопросами местного и регионального развития.
                    <br>
                    <br>
                    Отобранные магистранты имеют возможность бесплатно обучаться по этой магистерской программе. Эта программа действует с 2009 года, всего на данный момент обучено 223 человека. Ежегодно Фонда Ханнса Зайделя совместно с Академии государственного управления при Президенте Республики Казахстан принимают студентов на высококонкурентной основе из всех стран Центральной Азии. В настоящее время проходят обучение 10 представителей государственной службы из Казахстана, Кыргызстана и Таджикистана.
                    <br>
                    <br>
                    Эти магистерские программы имеют фундаментальное значение для государственных служащих, так как они получают качественные навыки и компетенции для построения эффективного государства.
                    <br>
                    <br>
                    Фонд Ханнса Зайделя поддерживает тесную связь с выпускниками совместных магистерских программ Фонда и Академии государственного управления при Президенте Республики Казахстан регулярно организуя им различные курсы по повышению квалификации / переквалификации, и постоянно обновляет базу данных стипендиатов, проводя оценку их карьерного роста после обучения
                </p>
            </div>
            <div class="elementor-widget-wrap elementor-element-populated">
                 {% for scholarship in d %}
                <section
                    class="elementor-section elementor-inner-section elementor-element elementor-element-39402a4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="39402a4" data-element_type="section"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="aux-parallax-section elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a44e0d7"
                            data-id="a44e0d7" data-element_type="column">

                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-c4b30eb elementor-widget elementor-widget-heading"
                                    data-id="c4b30eb" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h5 class="elementor-heading-title elementor-size-default">

                                            <a href="{% url 'detail' %}"> {{ scholarship.name }}</a>
                                        </h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                  {% endfor %}
<!--                <section-->
<!--                    class="elementor-section elementor-inner-section elementor-element elementor-element-ef81260 elementor-section-boxed elementor-section-height-default elementor-section-height-default"-->
<!--                    data-id="ef81260" data-element_type="section"-->
<!--                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">-->
<!--                    <div class="elementor-container elementor-column-gap-default">-->
<!--                        <div class="aux-parallax-section elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-32cade7"-->
<!--                            data-id="32cade7" data-element_type="column">-->
<!--                            <div class="elementor-widget-wrap elementor-element-populated">-->
<!--                                <div class="elementor-element elementor-element-2a9451e elementor-widget elementor-widget-heading"-->
<!--                                    data-id="2a9451e" data-element_type="widget" data-widget_type="heading.default">-->
<!--                                    <div class="elementor-widget-container">-->
<!--                                        <h5 class="elementor-heading-title elementor-size-default"><a-->
<!--                                                href="https://cap-hss.online/magistratura/">Магистратура в Кыргызстане-->
<!--                                            </a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->
<!--                <section-->
<!--                    class="elementor-section elementor-inner-section elementor-element elementor-element-b140f82 elementor-section-boxed elementor-section-height-default elementor-section-height-default"-->
<!--                    data-id="b140f82" data-element_type="section"-->
<!--                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">-->
<!--                    <div class="elementor-container elementor-column-gap-default">-->
<!--                        <div class="aux-parallax-section elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-6528f0a"-->
<!--                            data-id="6528f0a" data-element_type="column">-->
<!--                            <div class="elementor-widget-wrap elementor-element-populated">-->
<!--                                <div class="elementor-element elementor-element-c2b6a42 elementor-widget elementor-widget-heading"-->
<!--                                    data-id="c2b6a42" data-element_type="widget" data-widget_type="heading.default">-->
<!--                                    <div class="elementor-widget-container">-->
<!--                                        <h5 class="elementor-heading-title elementor-size-default"><a-->
<!--                                                href="https://cap-hss.online/academy-tajikistan/">Магистратура в Таджикистане-->
<!--                                            </a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->
<!--                <section-->
<!--                    class="elementor-section elementor-inner-section elementor-element elementor-element-5235498 elementor-section-boxed elementor-section-height-default elementor-section-height-default"-->
<!--                    data-id="5235498" data-element_type="section"-->
<!--                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">-->
<!--                    <div class="elementor-container elementor-column-gap-default">-->
<!--                        <div class="aux-parallax-section elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-c43d7af"-->
<!--                            data-id="c43d7af" data-element_type="column">-->
<!--                            <div class="elementor-widget-wrap elementor-element-populated">-->
<!--                                <div class="elementor-element elementor-element-a299986 elementor-widget elementor-widget-heading"-->
<!--                                    data-id="a299986" data-element_type="widget" data-widget_type="heading.default">-->
<!--                                    <div class="elementor-widget-container">-->
<!--                                        <h5 class="elementor-heading-title elementor-size-default"><a-->
<!--                                                href="https://cap-hss.online/scholarships-in-germany/">Стипендия Фонда Ханнса-->
<!--                                                Зайделя в Германии-->
<!--                                            </a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->
<!--                <section-->
<!--                    class="elementor-section elementor-inner-section elementor-element elementor-element-aeffb87 elementor-section-boxed elementor-section-height-default elementor-section-height-default"-->
<!--                    data-id="aeffb87" data-element_type="section"-->
<!--                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">-->
<!--                    <div class="elementor-container elementor-column-gap-default">-->
<!--                        <div class="aux-parallax-section elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-be42c09"-->
<!--                            data-id="be42c09" data-element_type="column">-->
<!--                            <div class="elementor-widget-wrap elementor-element-populated">-->
<!--                                <div class="elementor-element elementor-element-5244ea8 elementor-widget elementor-widget-heading"-->
<!--                                    data-id="5244ea8" data-element_type="widget" data-widget_type="heading.default">-->
<!--                                    <div class="elementor-widget-container">-->
<!--                                        <h5 class="elementor-heading-title elementor-size-default"><a-->
<!--                                                href="http://cap-hss.online/courseup/">Курсы повышения квалификации (72-часовые)-->
<!--                                            </a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->
<!--                <section-->
<!--                    class="elementor-section elementor-inner-section elementor-element elementor-element-0274cf4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"-->
<!--                    data-id="0274cf4" data-element_type="section"-->
<!--                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">-->
<!--                    <div class="elementor-container elementor-column-gap-default">-->
<!--                        <div class="aux-parallax-section elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-7aebd11"-->
<!--                            data-id="7aebd11" data-element_type="column">-->
<!--                            <div class="elementor-widget-wrap elementor-element-populated">-->
<!--                                <div class="elementor-element elementor-element-bda10b8 elementor-widget elementor-widget-heading"-->
<!--                                    data-id="bda10b8" data-element_type="widget" data-widget_type="heading.default">-->
<!--                                    <div class="elementor-widget-container">-->
<!--                                        <h5 class="elementor-heading-title elementor-size-default"><a-->
<!--                                                href="http://cap-hss.online/baza-znanii/">База Знаний-->
<!--                                            </a></h5>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </section>-->
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

{% endblock %}