{% extends '__base.html' %}

{% block page_content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Стипендиальные Программы</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./index.html">Главная</a></li>
                    <li class="breadcrumb-item"><a href="./about.html">Новости</a></li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Projects</li> -->
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Projects Start -->


    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <!-- <p class="fs-5 fw-bold text-primary">Our Services</p> -->
                <h1 class="display-5 mb-5">Стипендиальные Программы</h1>
            </div>

            <div class="row g-4">
                 {% for scholarship in el %}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item rounded d-flex h-100">
                        <div class="service-img rounded">
                            <img class="img-fluid" src="{{ scholarship.image.url }}" alt="">
                        </div>
                        <div class="service-text rounded p-5">
                            <!-- <div class="btn-square rounded-circle mx-auto mb-3">
                                <img class="img-fluid" src="img/icon/icon-3.png" alt="Icon">
                            </div> -->
                            <h4 class="mb-3">{{ scholarship.name }}</h4>
                            <p class="mb-4">{{ scholarship.header }}</p>
                            <a class="btn btn-sm" href="{% url 'detail'%}"><i class="fa fa-plus text-primary me-2"></i>Подробнее</a>
                        </div>
                    </div>
                </div>
                 {% endfor %}
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="service-item rounded d-flex h-100">-->
<!--                        <div class="service-img rounded">-->
<!--                            <img class="img-fluid" src="../../../static/img/kyrgyzstan.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="service-text rounded p-5">-->
<!--                            &lt;!&ndash; <div class="btn-square rounded-circle mx-auto mb-3">-->
<!--                                <img class="img-fluid" src="img/icon/icon-6.png" alt="Icon">-->
<!--                            </div> &ndash;&gt;-->
<!--                            <h4 class="mb-3">Магистратура в Кыргызстане</h4>-->
<!--                            <p class="mb-4">Магистратура в Академии государственного управления при Президенте Кыргызской Республики</p>-->
<!--                            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Подробнее</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="service-item rounded d-flex h-100">-->
<!--                        <div class="service-img rounded">-->
<!--                            <img class="img-fluid" src="../../../static/img/germany.jpg" alt="">-->
<!--                        </div>-->
<!--                        <div class="service-text rounded p-5">-->
<!--                            &lt;!&ndash; <div class="btn-square rounded-circle mx-auto mb-3">-->
<!--                                <img class="img-fluid" src="img/icon/icon-5.png" alt="Icon">-->
<!--                            </div> &ndash;&gt;-->
<!--                            <h4 class="mb-3">Стипендия в Германии</h4>-->
<!--                            <p class="mb-4">Стипендия Фонда Ханнса Зайделя в Германии для одаренных молодых людей из развивающихся стран </p>-->
<!--                            <a class="btn btn-sm" href=""><i class="fa fa-plus text-primary me-2"></i>Подробнее</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </div>


    <!-- Projects End -->

{% endblock page_content %}