{% extends '__base.html' %}

{% block page_content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Вопросы и ответы по государственной и муниципальной службе в Кыргызской Республике</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./index.html">Главная</a></li>
                    <li class="breadcrumb-item"><a href="./about.html">Новости</a></li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Projects</li> -->
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Projects Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="fs-5 fw-bold text-primary">Часто задаваемые вопросы</p>
                <h1 class="display-5 mb-5">Вопросы и ответы</h1>
            </div>
<!--            <div class="row wow fadeInUp" data-wow-delay="0.3s">-->
<!--                <div class="col-12 text-center">-->
<!--                    <ul class="list-inline rounded mb-5" id="portfolio-flters">-->
<!--                        <li class="mx-2 active" data-filter="*">All</li>-->
<!--                        <li class="mx-2" data-filter=".first">Complete Projects</li>-->
<!--                        <li class="mx-2" data-filter=".second">Ongoing Projects</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="row g-4 portfolio-container">-->
<!--                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="portfolio-inner rounded">-->
<!--                        <img class="img-fluid" src="img/service-1.jpg" alt="">-->
<!--                        <div class="portfolio-text">-->
<!--                            <h4 class="text-white mb-4">Landscaping</h4>-->
<!--                            <div class="d-flex">-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href="img/service-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="portfolio-inner rounded">-->
<!--                        <img class="img-fluid" src="img/service-2.jpg" alt="">-->
<!--                        <div class="portfolio-text">-->
<!--                            <h4 class="text-white mb-4">Pruning plants</h4>-->
<!--                            <div class="d-flex">-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href="img/service-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="portfolio-inner rounded">-->
<!--                        <img class="img-fluid" src="img/service-3.jpg" alt="">-->
<!--                        <div class="portfolio-text">-->
<!--                            <h4 class="text-white mb-4">Irrigation & Drainage</h4>-->
<!--                            <div class="d-flex">-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href="img/service-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">-->
<!--                    <div class="portfolio-inner rounded">-->
<!--                        <img class="img-fluid" src="img/service-4.jpg" alt="">-->
<!--                        <div class="portfolio-text">-->
<!--                            <h4 class="text-white mb-4">Garden Maintenance</h4>-->
<!--                            <div class="d-flex">-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href="img/service-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">-->
<!--                    <div class="portfolio-inner rounded">-->
<!--                        <img class="img-fluid" src="img/service-5.jpg" alt="">-->
<!--                        <div class="portfolio-text">-->
<!--                            <h4 class="text-white mb-4">Green Technology</h4>-->
<!--                            <div class="d-flex">-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href="img/service-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">-->
<!--                    <div class="portfolio-inner rounded">-->
<!--                        <img class="img-fluid" src="img/service-6.jpg" alt="">-->
<!--                        <div class="portfolio-text">-->
<!--                            <h4 class="text-white mb-4">Urban Gardening</h4>-->
<!--                            <div class="d-flex">-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href="img/service-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>-->
<!--                                <a class="btn btn-lg-square rounded-circle mx-2" href=""><i class="fa fa-link"></i></a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">
                <div class="container">
                    <div class="accordion">

                        {% for qa in question %}
                        <div class="accordion-item">

                            <button id="accordion-button" aria-expanded="false"><span class="accordion-title">{{ qa.question }}</span><span class="icon" aria-hidden="true"></span></button>
                            <div class="accordion-content">
                                <p>

                                    {{ qa.answer }}
                                </p>
                            </div>
                        </div>
                            
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Projects End -->



    <!-- Quote Start -->
    <form action="{% url 'qa' %}" method="post">
        {% csrf_token %} 
        <div class="container-fluid py-5">
            <div class="container">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                    <p class="fs-5 fw-bold text-primary">Задайте Вопрос</p>
                    <h1 class="display-5 mb-5">Ваш Вопрос</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="bg-light rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border-0" id="gname" placeholder="Gurdian Name" name="gname">
                                    <label for="gname">Введите Ваше Имя</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control border-0" id="gmail" placeholder="Gurdian Email">
                                    <label for="gmail">Введите Эл. Адрес</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0" id="cname" placeholder="Child Name">
                                    <label for="cname">Введите Ваш Номер Телефона</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0" id="cage" placeholder="Child Age">
                                    <label for="cage">Введите Тему Вопроса</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control border-0" placeholder="Leave a message here" id="message" style="height: 100px"></textarea>
                                    <label for="message">Введите Ваш Вопрос</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary py-3 px-4" type="submit">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
    <!-- Quote End -->
    
    {% endblock %}