{% extends '__base.html' %}

{% block page_content %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Видео</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">База Знаний</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Видео</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container">
        <div class="row mb-5">
            <div class="col-6">
                <h5>Some title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet velit tempore deserunt, dolorum assumenda dolor aliquam culpa omnis consequatur laboriosam suscipit perferendis reprehenderit illo dicta accusamus, expedita, aperiam optio! Tempore, perspiciatis omnis?</p>
                <p>date: 03/30/3030</p>
                <p>Лектор: Борис Павлович Демидович</p>
            </div>
            <div class="col-6">
                <iframe height="300px" width="580px"   src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-6">
                <iframe height="300px" width="580px"   src="https://www.youtube.com/embed/tgbNymZ7vqY">
                </iframe>
            </div>
            <div class="col-6">
                <h5>Some title</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet velit tempore deserunt, dolorum assumenda dolor aliquam culpa omnis consequatur laboriosam suscipit perferendis reprehenderit illo dicta accusamus, expedita, aperiam optio! Tempore, perspiciatis omnis?</p>
                <p>date: 03/30/3030</p>
                <p>Лектор: Борис Павлович Демидович</p>
            </div>
        </div>
    </div>

    <video src=""></video>
{% endblock %}